name: Propose Version Bump

on:
  workflow_dispatch:
    inputs:
      bump-type:
        description: 'Bump type (patch, minor, or major)'
        required: true
        default: 'patch'
        type: choice
        options:
        - patch
        - minor
        - major

jobs:
  create-bump-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Bump version files
        id: bump
        uses: callowayproject/bump-my-version@master
        with:
          args: ${{ inputs.bump-type }} --no-commit --no-tag

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          title: "Bump version to ${{ steps.bump.outputs.current-version }}"
          body: |
            This PR bumps the version from ${{ steps.bump.outputs.previous-version }} to ${{ steps.bump.outputs.current-version }}.
            
            Once merged, the commit on `main` will be tagged automatically.
          
          branch: "bump/v${{ steps.bump.outputs.current-version }}"
          base: main
          labels: "version-bump"
